// CPL settings for the mbio theme

$text-colors: (#00a867, #767676);

$bg-colors: (#ffffff, #e6e6e6, #1a693c, #383838, #7edda7);

$condensed-font-family: 'Roboto Condensed', sans-serif;

// Search
$search-input-border-color: $primary-color;

// FAQ
$faq-active-title-bg: $primary-color;
$faq-active-title-text: $white;
$faq-active-content-bg: #a1dbc4;

// Pager
$pager-current-background: #f07a00;

// ImageText options
$imgtxt: (
  1: (
    container: (
      background-color: transparent,
      box-shadow: none
    ),
    heading: (
      color: $primary-color,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1,
      text-transform: none
    ),
    heading-h: (),
    subheading: (
      color: $white,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-decoration: none,
      text-transform: uppercase,
      background-color: $primary-color,
      color: $white
    ),
    link-h: (
      background-color: #1f8852,
      color: $white
    ),
    overlay: (
      background-color: rgba(0, 0, 0, 0.5),
      padding: 15px
    )
  ),
  2: (
    container: (
      background-color: transparent,
      box-shadow: none
    ),
    heading: (
      color: $primary-color,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1
    ),
    heading-h: (),
    subheading: (
      color: $black,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-decoration: none,
      text-transform: uppercase,
      background-color: $primary-color,
      color: $white
    ),
    link-h: (
      background-color: #1f8852,
      color: $white
    ),
    overlay: (
      background-color: rgba(0, 0, 0, 0.5),
      padding: 15px
    )
  ),
  3: (
    container: (
      background-color: $primary-color,
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
    ),
    heading: (
      color: $white,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1
    ),
    heading-h: (),
    subheading: (
      color: $white,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-decoration: none,
      text-transform: uppercase,
      background-color: #1f8852,
      color: $white
    ),
    link-h: (
      background-color: $black,
      color: $white
    ),
    overlay: (
      background-color: rgba(0, 168, 103, 0.9),
      padding: 15px
    )
  ),
  4: (
    container: (
      background-color: $white,
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
    ),
    heading: (
      color: $primary-color,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1
    ),
    heading-h: (),
    subheading: (
      color: $black,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-decoration: none,
      text-transform: uppercase,
      background-color: $primary-color,
      color: $white
    ),
    link-h: (
      background-color: #1f8852,
      color: $white
    ),
    overlay: (
      background-color: rgba(230, 230, 230, 0.9),
      padding: 15px
    )
  )
);

// ImageTextBanner options
$imgbnr: (
  1: (
    container: (
      background-color: transparent,
      box-shadow: none
    ),
    heading: (
      color: $primary-color,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1
    ),
    heading-h: (),
    subheading: (
      color: $white,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-transform: uppercase,
      background-color: $primary-color,
      color: $white
    ),
    link-h: (
      background-color: #1f8852,
      color: $white
    )
  ),
  2: (
    container: (
      background-color: transparent,
      box-shadow: none
    ),
    heading: (
      color: $primary-color,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1
    ),
    heading-h: (),
    subheading: (
      color: $black,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-decoration: none,
      text-transform: uppercase,
      background-color: $primary-color,
      color: $white
    ),
    link-h: (
      background-color: #1f8852,
      color: $white
    )
  ),
  3: (
    container: (
      background-color: $primary-color,
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
    ),
    heading: (
      color: $white,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1
    ),
    heading-h: (),
    subheading: (
      color: $white,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-decoration: none,
      text-transform: uppercase,
      background-color: #1f8852,
      color: $white
    ),
    link-h: (
      background-color: $black,
      color: $white
    )
  ),
  4: (
    container: (
      background-color: $white,
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
    ),
    heading: (
      color: $primary-color,
      font-weight: bold,
      letter-spacing: 1px,
      line-height: 1.1
    ),
    heading-h: (),
    subheading: (
      color: $black,
      font-size: 16px,
      line-height: 1.1
    ),
    link: (
      font-size: 16px,
      text-decoration: none,
      text-transform: uppercase,
      background-color: $primary-color,
      color: $white
    ),
    link-h: (
      background-color: #1f8852,
      color: $white
    )
  )
);
